/* global */
body {
    height: 1000px;
    background-color: #E3BAC6;
}

* {
    font-family: 'Vesper Libre', serif;
}

h1, h2 {
    font-family: 'Viaoda Libre', cursive;
}

/* navbar */
.navbar {
    background-color: #7F8C9F;
}

.navbar-toggler {
    border: solid 1px;
}

.navbar-toggler:hover {
    background-color: #FDE8E9;
}

footer {
    height: 5%;
    border: solid 1px grey;
    background-color: #7F8C9F;
}
/* index */
.jumbotron {
    height: 50%;
}

.about-box {
    height: 30%;
}

/* pricing-contact */
.card-body {
    height: 22rem;
}

.pricing-box {
    height: 50%;
}

.form-button {
    background-color: #E3BAC6;
}



/* gallery */
.carousel-image {
    height: 40rem;
}

/* font families
font-family: 'Vesper Libre', serif;
font-family: 'Viaoda Libre', cursive; */
