/* global */
body {
    height: 1000px;
}

footer {
    height: 5%;
    border: solid 1px grey;
}
/* index */
.jumbotron {
    height: 45%;
}

.about-box {
    height: 30%;
}

/* pricing-contact */
.card-body {
    height: 20rem;
}

.pricing-box {
    height: 50%;
}
