/* global */
body {
    height: 1000px;
    background-color: #C3DAC3;
}

/* navbar */
.navbar {
    background-color: #929487;
}

.navbar-toggler {
    border: solid 1px;
}

.navbar-toggler:hover {
    background-color: #D5ECD4;
}

footer {
    height: 5%;
    border: solid 1px grey;
}
/* index */
.jumbotron {
    height: 45%;
}

.about-box {
    height: 30%;
}

/* pricing-contact */
.card-body {
    height: 20rem;
}

.pricing-box {
    height: 50%;
}

/* gallery */
.carousel-image {
    height: 40rem;
}

/* font families
font-family: 'Vesper Libre', serif;
font-family: 'Viaoda Libre', cursive; */

/* colors
color: #6B6054; umber
color: #929487; artichoke
color: #A1B0AB; ash gray
color: #C3DAC3; cambridge blue
color: #D5ECD4; nyanza */